/* -GENERAL STRUCTURE 
******************************************************/
#main {
	height: 800px;
}

#navigation nav li {
	list-style: none;
}

#about,
#portfolio,
#experience,
#photography,
#testimonial,
#about {
	height: 640px;
	padding: 5% 0;
}

.gray {
	background: gray;
}

/* -SECTION ONE 
******************************************************/
#welcome-msg {
	padding-top: 8%;
}

#main {
	background-image: url('../img/photo_0.jpeg');
}


/* -SECTION TWO 
******************************************************/
#about .row{
	margin-top: 4%;
}

.about-img img {
	width: 70%;
	margin-left: 20%;
	border-radius: 200px;
}


/* -SECTION THREE 
******************************************************/



/* -SECTION FOUR 
******************************************************/




/* -FOOTER
******************************************************/
footer {
	height: 320px;
	background: #333;
	color: #fff;
}

.footer {
	margin-left: 5%;
	padding-top: 20px;
}
